body {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #ddd;
}

* {
    margin: 0;
    padding: 0
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: #ddd;
}

.header-logo img {
    width: 40px;
    height: 40px;
}

.header-logo h4 {
    font-size: 20px;
    color: #333;
}

.main-container {
    height: 100vh;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.results-wrapper {
    margin-bottom: 0px;
}

.loader-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saludo-container {
    text-align: center;
    margin-bottom: 50px;
    display: grid
}

.results-container {
    height: 100%;
    grid-template-columns: 1fr;
    width: 700px;
    overflow: auto;
}

.result-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: aparecer 0.3s ease-out;
    height: 80px;
}

.error {
    font-size: 18px;
    color: #ff5722;
    margin: auto
}

.saludo {
    font-size: 42px;
    color: #333;
    animation: deslizarHaciaArriba 0.7s ease-out;
    margin-bottom: 8px;
}

.saludo-aleatorio {
    font-size: 20px;
    color: #7a7a7a;
    opacity: 0;
    animation: deslizarHaciaArriba 0.5s ease-out;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

.loader {
    margin: auto;
}

.loader span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #ff5722aa;
    border-radius: 50%;
    animation: bounce 1s infinite;
}

.loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader span:nth-child(3) {
    animation-delay: 0.4s;
}

.input-container {
    width: 700px;
    padding: 8px;
    border: 1px solid #fafafa;
    background-color: #fafafa;
    border-radius: 50px;
    font-size: 16px;
    display: flex;
    opacity: 0;
    animation: alargarYAparecer 1s ease-in-out;
    animation-fill-mode: forwards;
    margin-bottom: 20px;
    transition: width 0.3s ease;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 16px;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
}

.input-wrapper-active {
    position: fixed;
    bottom: 0;
    background-color: #ddd;
    padding: 20px 0;
}

.button-search {
    padding: 15px 15px;
    border: none;
    border-radius: 100%;
    background-color: #ff5722;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
}

.input::placeholder {
    color: #999
}

.search-icon {
    display: block;
}

.sugerencias-container {
    width: 700px;
    display: flex;
    justify-content: center;

}

.sugerencias-wrapper {
    width: max-content;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.sugerencia {
    border: none;
    outline: none;
    opacity: 0;
    background-color: #ff5722;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    animation: aparecer 0.2s linear;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes deslizarHaciaArriba {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes alargarYAparecer {
    0% {
        width: 0;
        opacity: 0;
    }
    70% {
        width: 750px;
        opacity: 1;
    }
    100% {
        width: 700px;
        opacity: 1;
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}